.dividerRec{
    width: auto;  /* Breite des Rechtecks */
    height: 6px; /* Höhe des Rechtecks */
    border-radius: 3px; /* Abrundung der Ecken */
}


.font-typewriter{
    font-family: "toxTypewriter", system-ui;
}

@font-face {
    font-family: 'toxTypewriter';
    src: url('../assets/fonts/Tox\ Typewriter.ttf') format('truetype');
}

