.dividerRec{
    width: auto;  /* Breite des Rechtecks */
    height: 6px; /* Höhe des Rechtecks */
    border-radius: 3px; /* Abrundung der Ecken */
}


.font-typewriter{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

