.dividerRec{
    width: auto;  /* Breite des Rechtecks */
    height: 6px; /* Höhe des Rechtecks */
    border-radius: 3px; /* Abrundung der Ecken */
}


.font-typewriter{
    font-family: "toxTypewriter", system-ui;
}

@font-face {
    font-family: 'toxTypewriter';
    src: url('../assets/fonts/ToxTypewriter.ttf') format('truetype');
}

@font-face {
    font-family: 'sevenSegment';
    src: url('../assets/fonts/SevenSegment.ttf') format('truetype');
}

@font-face {
    font-family: 'sevenSegmentClock';
    src: url('../assets/fonts/SevenSegmentClock.ttf') format('truetype');
}

.font-sevenSegmentClock{
    font-family: 'sevenSegmentClock', system-ui;
}

.font-sevenSegment{
    font-family: 'sevenSegment', system-ui;
}

body {
    transition: background-image 0.5s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* City Map */
.container {
    position: relative;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.grid div {
    border: 1px solid rgba(0, 0, 0, 0.2); /* Gitterlinien */
    position: relative;
}

.grid button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}







