.codedText {
    padding:10px 15px;
    margin:15px;
    background:#000;
    color:#fff;
    text-align:center;
    white-space: nowrap;
    cursor:pointer;  
    font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
  }